{# @var movies \App\Model\Movie[] #}

{% set isCurrentRouteMovie = currentRoute starts with 'movie_' and currentRoute is not same as('movie_list') %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ isCurrentRouteMovie ? '' : 'active' }}" href="{{ path('homepage') }}">Home</a>
                </li>
                {% for movie in movies %}
                    <li class="nav-item">
                        <a class="nav-link {{ isCurrentRouteMovie and currentSlug is same as(movie.slug) ? 'active' : '' }}" href="{{ path('movie_details', {slug: movie.slug}) }}">{{ movie.title|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
